@CHARSET "UTF-8";

* {
	font-family: "等线";
	font-size: 14px;
	border-radius: 0!important;
}

.content-container {
	background-color: #ecf0f5;
	overflow: auto;
}

.content-container>.content-header {
	overflow: hidden;
	padding: 5px 10px;
	position: fixed;
	width: 100%;
	background-color: #ecf0f5;
	z-index: 1000;
}

.content-container>.content-header>h1 {
	float: left;
	line-height: 34px;
	font-size: 16px;
}

.content-container>.content-header>.content-tools {
	float: right;
}

.content-container>.content-body {
	margin-left: auto;
	margin-right: auto;
	min-height: 0;
	background-color: #FFFFFF;
	margin-top: 43px;
	overflow: hidden;
	padding: 0 !important;
}

/* form */
form .form-control {
	color: #747474;
}

form .form-group {
	margin-bottom: 3px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	{
	background-color: #fcfcfc !important;
	color: #747474 !important;
}

/*select2*/
.selection>span.select2-selection {
	color: #747474 !important;
	height: 34px;
	padding: 6px 12px;
	border-color: #D2D6DE !important;
}

.selection>span.select2-selection>span:FIRST-CHILD {
	padding: 0;
}

.selection>span.select2-selection>span:LAST-CHILD {
	margin-top: 3px;
}

.select2-dropdown {
	border-color: #D2D6DE;
}

.select2-selection--multiple {
	padding: 2px 12px !important;
}

.select2-selection--multiple .select2-selection__choice {
	padding: 3px 8px !important;
	margin-top: 2px !important;
	background-color: #367FA9 !important;
}

.select2 .select2-selection__rendered {
	color: #747474 !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single
	{
	background-color: #fcfcfc;
}

/*datatables*/
table.dataTable {
	margin: 0 !important;
}

.dataTable * {
	font-size: 12px !important;
}

.dataTable .dataTables_empty {
	text-align: left !important;
}

.dataTable {
	border: 1px solid #EEE !important;
}

.dataTable thead *, .dataTable tfoot * {
	font-size: 14px;
}

.table>thead>tr>td:hover, .table>tbody>tr>td:hover, .table>tfoot>tr>td:hover
	{
	background: none !important;
}

.table>thead>tr>th {
	border-bottom: 0 !important;
}

.table>tbody>tr>td {
	padding: 5px 8px !important;
	height: 20px;
	font-size: 14px;
}

.table>thead>tr>th, .table>tfoot>tr>th {
	padding: 6px 8px !important;
}

.table>thead>tr, .table>tfoot>tr {
	height: 34px;
}

.dataTable tfoot th {
	border-top-color: #EEEEEE !important;
}

.dataTables_wrapper>.row:nth-child(1) {
	margin-bottom: 6px !important;
}

.dataTables_wrapper>.row:nth-child(2) {
	width: 18% !important;
	float: left !important;
}

.dataTables_wrapper>.row:last-child {
	width: 86% !important;
	float: right !important;
}

.dataTables_wrapper>.row:last-child>div:nth-child(1) {
	padding: 0 !important;
}

div.modal .dataTables_wrapper>.row:last-child>div:nth-child(1) {
	visibility: hidden;
}

.dataTables_wrapper .dataTables_info {
	white-space: nowrap;
	font-size: 14px;
	padding-top: 4px;
}

.dataTables_paginate {
	padding: 0 !important;
}

.dataTables_paginate>.pagination {
	margin: 0 !important;
}

.dataTables_paginate>.pagination>.paginate_button {
	padding: 0 !important;
	margin: 0 !important;
}

.dataTables_paginate>.pagination>.paginate_button a {
	margin: 0 !important;
}

/*layui ifram框样式*/
.select-body {
	margin-bottom: 50px;
}

.select-tools-foot {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 10px;
	text-align: right;
	background-color: #F8F8F8;
	border-top: 1px solid #EEEEEE;
}

.treeview-menu a.menu {
	font-size: 13px !important;
	padding-left: 36px !important;
}

.content-header>ol.breadcrumb.custom-breadcrumb {
	float: left;
	background: transparent;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 12px;
	padding: 7px 5px 7px 0;
	position: static;
	top: 15px;
	left: 10px;
}

.content-table {
	border: 1px solid #E5EAF5;
	overflow: hidden;
	background-color: #FFF;
	padding: 10px;
	box-shadow: inset -1px 0px 5px 4px #F5F5F5;
}

.clickA {
	text-decoration: underline;
	color: #4992bb;
}

.clickA:HOVER {
	text-decoration: underline;
	color: #fb0000;
	cursor: pointer;
}

.clickOp {
	text-decoration: underline;
	color: #fb0000;
	padding-left: 10px;
}

.clickOp:HOVER {
	text-decoration: underline;
	color: #ce0000;
	cursor: pointer;
}

.nav-tabs-custom{
	margin-bottom: 0 !important;
}

.box {
	margin-bottom: 0;
	box-shadow: none;
}

.box .box-header .box-header-title {
	font-size: 14px;
	color: #3c7b9d;
}

.box .box-body .box-lable {
	font-size: 13px;
	width: 100px;
	display: inline-block;
	color: #000;
	font-weight: bold;
}

.box.box-border-top {
	/*border-top: 1px solid #f4f4f4;*/
}

.dl-horizontal{
	margin-bottom: 0 !important;
}

.dl-horizontal dt, .dl-horizontal dd {
	font-size: 14px;
	margin-bottom: 4px;
}


.content-box{
	overflow: hidden;
    background: #fff;
    padding: 10px;
}

table.table thead tr.active th, table.table tfoot tr.active th{
	background-color: #F4F4F5;
}

.layui-layer-iframe .layui-layer-btn, .layui-layer-page .layui-layer-btn {
    padding-top: 10px;
    background-color: #F7F7F7;
    border-top: 1px solid #EDEDED;
}

.layui-layer-btn a {
    height: 34px;
    line-height: 23px;
    margin: 0 6px;
    padding: 6px 15px;
    border: 1px solid #dedede;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.layui-layer-btn .layui-layer-btn0 {
    border-color: #266c94;
    background-color: #367FA9;
    color: #fff;
}

.content-conditions{
	margin-bottom: 8px;
}
.content-conditions .conditions-form .condition-label {
	padding-right: 10px;
}
.content-conditions .conditions-form .condition{
	margin-right: 10px;
}
.content-conditions .conditions-form .form-group{
	margin-bottom: 2px;
}

/* form layout */
.form-textarea {
	max-width: 100%;
	min-height: 200px;
	resize: vertical;
}
.form-file-label {
	width: 100%;
}
.form-file-label a.btn {
	display: inline-block; width: 100%;
}

.dt-link {
	text-decoration: underline;
	cursor: pointer;
}
.dt-link:HOVER {
	color: red;
	text-decoration: underline;
}

.input-group-addon {
	background-color: #eee !important;
	cursor: pointer;
}
form .control-label {
	font-size: 12px !important;
}
