.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.hover_button{
	width: 45px;
	height: 45px;
	position: fixed;
	right: 20px;
	bottom: 50px;
	z-index: 99;
}

.home-nav-flag {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.line_title {
    font-size: 12px;
    line-height: 21px;
    color: #999;
    padding-left: 15px;
    background: #efeff4;
}

.weui-tabbar {
    position: fixed;
    z-index: 2;
}

.weui-tabbar__icon>.ico {
    height: 27px;
    width: 27px;
}

.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
    color: #7AA8F2;
}

.weui-tabbar__item.weui-bar__item--on .ico {
    color: #7AA8F2;
}

.weui-cell__hd .ico {
    display: block;
    height: 35px;
    width: 35px;
    padding-right: 15px;
}

.weui-cell__hd .small_ico {
    display: block;
    height: 30px;
    width: 30px;
    padding-right: 5px;
}

.weui-cell__bd .title {
    font-size: 14px;
    margin-bottom: 2px;
    font-family: Arial, "Lucida Grande", Verdana, "PingFangSC", "Microsoft YaHei", "华文细黑", hei;
}

.weui-cell__bd .info {
    color: #999;
    font-size: 12px;
}

.weui-cell__ft{
    font-size: 14px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.weui-swiped-btn {
    line-height: 2.4;
}

.weui-input{
    font-size: 14px;
}

.weui-btn_primary {
    background-color: #7AA8F2;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
    color: hsla(0, 0%, 100%, .6);
    background-color: #7AA8F2;
}

.picker-calendar-day.picker-calendar-day-selected span {
    background: #7AA8F2;
    color: #fff
}

.weui-switch-cp__input:checked~.weui-switch-cp__box,
.weui-switch:checked {
    border-color: #7AA8F2;
    background-color: #7AA8F2
}

.weui-cells_radio .weui-check:checked+.weui-icon-checked:before {
    display: block;
    content: '\EA08';
    color: #7AA8F2;
    font-size: 16px
}

.weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before {
    content: '\EA06';
    color: #7AA8F2;
}

.weui-navbar__item {
    color: #000000;
    background: #FFFFFF;
}

.weui-navbar__item.weui-bar__item--on {
    color: #7AA8F2;
    background: #FFFFFF;
    border-bottom: 2px solid #7AA8F2;
}